body{
  padding: 0px;
  margin: 0px;
  background: #f9f9f9;
}
.header{
  background: white;
  height: 55px;
  width: 100%;
  margin-left: 13%;
  position: fixed;
}
.contern{
  background: rgb(56, 56, 56);
  width: 13%;
  height: 100vh;
  position: fixed;
}
.rainbow_text{
  background-image: url(gif/rainbow.gif);
  background: url(gif/rainbow.gif);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 7px;
  font-family: Tahoma;
}
.panel{
  background-position: left;
  height: 55px;
  width: 13%;
  z-index: 1030;
  position: fixed;
}
.wrapper{
  margin: 0px;
  padding: 0px;
}
.avatar{
  height: 45px;
  width: 45px;
  margin-top: 65px;
  margin-left: 3%;
  border-radius: 22px;
}
.user{
  color: white;
  font-family: Tahoma;
  margin-left: 29%;
  position: absolute;
  top: 5%;
}
.library{
  color: white;
  font-family: Tahoma;
  margin-left: 25%;
  position: absolute;
  top: 7%;
}
.dot{
  color: #32CD32;
  margin-left: 19%;
  position: absolute;
  top: 7.6%;
}
.menu{
  margin-left: 7%;
  padding: 0;
  list-style: none;
  color: #fff;
}
.icon{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  line-height: 24px;
}
.user-icon:hover{
  border-color: #1E90FF;
  box-shadow: 0px 0px 15px #1E90FF;
  color: #1E90FF;
}
.admin-vk:hover{
  border-color: #FFD700;
  box-shadow: 0px 0px 15px #FFD700;
  color: #FFD700;
}
.news:hover{
  border-color: #fff;
  box-shadow: 0px 0px 15px #fff;
  color: #fff;
}
.console:hover{
  border-color: #00FF00;
  box-shadow: 0px 0px 15px #00FF00;
  color: #00FF00;
}
.server:hover{
  border-color: #6A5ACD;
  box-shadow: 0px 0px 15px #6A5ACD;
  color: #6A5ACD;
}
.rules:hover{
  border-color: #C0C0C0;
  box-shadow: 0px 0px 15px #C0C0C0;
  color: #C0C0C0;
}
.download:hover{
  border-color: #A52A2A;
  box-shadow: 0px 0px 15px #A52A2A;
  color: #A52A2A;
}
h4{
  text-align: center;
  margin-left:  35px;
  position: fixed;
}
.h4{
  top: 11.4%;
  position: absolute;
}
.h4_1{
  top: 15.6%;
  position: absolute;
}
.h4_2{
  top: 20.2%;
  position: absolute;
}
.h4_3{
  top: 24.6%;
  position: absolute;
}
.h4_4{
  top: 29.2%;
  position: absolute;
}
.h4_5{
  top: 33.8%;
  position: absolute;
}
.h4_6{
  top: 38.3%;
  position: absolute;
}
a{
  text-decoration: none;
  color: #fff;
  position:

}
.content{
  height: 100vh;
  width: 90%;
  margin-left: 13%;
  position: fixed;
}
.news_1{
  background-color: #fff;
  height: 100%;
  width: 68%;
  margin-top: 5%;
  margin-left: 14%;
}
.news_h1{
  text-align: center;
  margin-top: 0px;
  padding: 2%;
}
.hr_1{
  width: 40%;
  margin-top: -59px;
  position: fixed;
  margin-left: 10.5%
}
.news_h2{
  text-align: center;
  margin: 2%;
}
.pravila{
  background-color: #fff;
  height: 100%;
  width: 68%;
  margin-top: 5%;
  margin-left: 14%;
}
.buy_menu{
  background-color: #fff;
  height: 30%;
  width: 30%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 1%;
  box-shadow: 0px 0px 1px;
}
.shop{
  margin: 0.6%;
  position: absolute;
}
.h2_shop{
  margin: 0px;
  margin-top: 0.3%;
  margin-left: 2.5%;
  position: absolute;
  color: #3CB371;
}
h1, h2, h3, h4, h5{
  font-family: Tahoma;
}
.donate{
margin: 11.5%;
margin-left: 20%;
width: 53.3%;
}
.ruble{
  margin: 0px;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 9%;
  font-size: 1.2vh;
}
.h4_donate{
  position: fixed;
  margin: 0px;
  top: 12.2%;
  margin-left: 0.7%;
}
.donate_2{
  position: absolute;
  margin: 11.5%;
  margin-left: 5.9%;
  height: 1.5%;
  width: 15.6%;
  top: 0.3%;
}
.user_buy_menu{
  position: absolute;
  margin: 11.3%;
  font-size: 1.2vh;
  margin-top: -40px;
}
.donate_3{
    position: absolute;
    margin: 12.5%;
    margin-left: 5.9%;
    height: 1.5%;
    width: 15.6%;
    top: 5%;
}
.lock{
  position: absolute;
  margin: 6.3%;
  font-size: 1.2vh;
  margin-top: 24px;
}
.text_on_button{
  color: #fff;
}
.button_donate{
  background: #228B22;
  border-radius: 3%;
  box-shadow: 0px 0px 1px;
  margin-left: 26%;
  margin-top: 16%;
}
.info{
  background-color: #fff;
  height: 60%;
  width: 50%;
  margin: 0;
  right: 100px;
  border-radius: 1%;
  box-shadow: 0px 0px 1px;
  position: absolute;
  top: 8.2%;
}
.button_donate:hover{
background: #006400;
}
.video{
  height: 40%;
  width: 40%;
  position: absolute;
  margin-top: 3%;
  margin-left: 50px;
}
.bullhorn{
  position: absolute;
  margin-left: 5%;
  font-size: 25px;
  margin-top: 1.7%;
}
.info_h2{
  position: absolute;
  margin: 15.5px;
  margin-left: 9.5%;
}
.information_text{
  height: 50%;
  width: 50%;
  margin-left: 48%;
  margin-top: 5%;
  text-align: justify;
}
.text_infor{
  text-align: center;
}
.information_text2{
  height: 55%;
  width: 40%;
  left: 50px;
  background: #fff;
  border-radius: 1%;
  box-shadow: 0px 0px 1px;
  position: absolute;
  margin-top: 1%;
}
